/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hamburger div:first-child {
      @apply rotate-45 translate-y-1.5;
    }
    .hamburger div:last-child {
      @apply -rotate-45 -translate-y-1;
    }
  }

body{
    @apply bg-darkBlue;
}

@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  @apply bg-darkBlue;
  display: flex;
  flex-direction: row;
}

.canvas {
  order: 2;
  flex: 1;
  height: 100%;
}

.greetings{
  width: 50%;
  height: 100%;
}

.title-div{
  @apply flex-auto text-left laptop:ml-10 desktop:ml-10
}

.title-div .title{
  @apply mb-4 big_tablet:mb-5 desktop:mb-6 desktop:text-9xl big_tablet:text-8xl laptop:text-8xl mini_phone:text-6xl text-white text-8xl font-WorkSans select-none 
}

.title-div .description{
  @apply hidden big_tablet:text-2xl desktop:text-4xl lg:block tablet:text-sm md:block text-base text-white font-WorkSans select-none
}

.navbar {
  @apply flex absolute z-10 justify-between w-full text-3xl
}

@media only screen and (max-aspect-ratio: 8/7) {
  main {
    flex-direction: column;
  }
  .canvas {
    order: 1;
  }
  .greetings {
    order: 2;
    width: 100%;
    max-width: 100%;
    height: 40vh;
  }

  .title-div{
    @apply flex-auto laptop:ml-10 desktop:ml-10 text-center
  }
}
